/* common.css */

/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font: 14px 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
}

table,
tr,
th,
td {
    font: 14px 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    border-collapse: collapse;
}

input,
select,
option,
textarea,
button {
    font: 14px 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    border-radius: 0;
    border: none;
    outline: none;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.0em;
    font-weight: 400;
}

b,
strong {
    font-weight: normal;
}

i,
em,
address {
    font-style: normal;
}

ul,
li,
ol {
    list-style: none;
}

a,
img {
    display: block;
}

img,
fieldset,
iframe,
frameset {
    border: none;
}

legend,
caption,
hr {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

.back_to_top {
    display: none;
    position: fixed;
    bottom: 170px;
    right: 56px;
    z-index: 99;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .back_to_top {
        right: 15px;
        bottom: 75px;
    }
}
