/** top_visual **/
.topVisual {
    position: relative;
    height: auto;
    background-image: url(../images/bg_visual_01_01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.topVisual span {
    vertical-align: top;
}

.topVisual span {
    display: inline-block;
}

.topVisual .visBg {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.topVisual .visBg div {
    height: 100%;
    width: 0px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.topVisual .visBg.visBg01 div {
    background-image: url(../images/tbg_visual_01_01.jpg);
}

.topVisual .visBg.visBg02 div {
    background-image: url(../images/tbg_visual_02_01.jpg);
}

.topVisual .visBg.visBg03 div {
    background-image: url(../images/tbg_visual_03_01.jpg);
}

.topVisualWrap {
    z-index: 20;
    position: relative;
    width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.mainVisual {
    display: none;
    height: 820px;
}

.mainVisual:first-child {
    display: block;
}

.mainVisual > [class*="vis"] {
    position: absolute;
    top: 0;
}

.topVisual .visImg01 {
    left: 0;
    width: 630px;
    height: 100%;
    text-align: right;
}

.topVisual .visImg01 p {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.topVisual .visImg01 p img {
    position: absolute;
    right: -100%;
}

.topVisual .visImg02 {
    right: 0;
    width: 630px;
    height: 100%;
    text-align: left;
}

.topVisual .visImg02 p {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.topVisual .visImg02 p img {
    position: absolute;
    left: -100%;
}

.topVisual .visTxt01.txt1 {
    top: 250px;
}

.topVisual .visTxt02.txt1 {
    top: 400px;
}

.topVisual .visTxt01.txt2 {
    top: 330px;
}

.topVisual .visTxt02.txt2 {
    top: 440px;
}

.topVisual .visTxt01.txt3 {
    top: 330px;
}

.topVisual .visTxt02.txt3 {
    top: 440px;
}

.topVisual .visTxt01 {
    left: 0;
    width: 100%;
    text-align: center;
}

.topVisual .visTxt01 span {
    opacity: 0;
}

.topVisual .visTxt02 {
    left: 0;
    width: 100%;
    text-align: center;
}

.topVisual .visTxt02 span {
    opacity: 0;
}

.topVisual .visTxt03 span {
    opacity: 0;
}

.topVisual .visWeb {
    display: block;
}

.topVisual .visMob {
    display: none;
}

.mTopVisual .visWeb {
    display: none;
}

.mTopVisual .visMob {
    display: block;
}

.topVisual.vis02 [class*="visImg"],
.topVisual.vis03 [class*="visImg"] {
    top: 166px;
}

.topVisual .visTxt03 {
    display: none;
}

.mTopVisual .visTxt01,
.mTopVisual .visTxt02 {
    display: none;
}

.mTopVisual .visTxt03 {
    display: block;
}

.topVisualWrap .btnBrand {
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    text-align: center;
}

.topVisualWrap .btnBrand > a {
    display: inline-block;
    width: 200px;
    height: 62px;
    padding-top: 20px;
    background-color: #e62149;
    font-family: "Noto Sans Bold";
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

.topVisualWrap .btnBrand > a,
.topVisualWrap .btnBrand > a:hover,
.topVisualWrap .btnBrand > a:focus {
    color: #fff;
}

.topVisualWrap .btnBrand > a:hover,
.topVisualWrap .btnBrand > a:focus {
    background-color: #b81a3a;
}

/* mobile */
@media (max-width: 1023px) {

    /*** main ***/
    /** top visual **/
    .topVisual {
        background-size: cover;
        background-image: url(../images/bg_visual_01_01_m.png);
    }

    .topVisual .visBg div {
        background-size: cover;
    }

    .topVisual .visBg.visBg01 div {
        background-image: url(../images/tbg_visual_01_01.jpg);
    }

    .topVisual .visBg.visBg02 div {
        background-image: url(../images/tbg_visual_02_01.jpg);
    }

    .topVisual .visBg.visBg03 div {
        background-image: url(../images/tbg_visual_03_01.jpg);
    }

    .topVisualWrap {
        width: 100%;
    }

    .mainVisual {
        height: 420px;
    }

    .topVisual .visImg01 {
        top: 0px;
        width: 50%;
    }

    .topVisual .visImg01 p img {
        width: 156px;
    }

    .topVisual .visImg02 {
        top: 0px;
        width: 50%;
    }

    .topVisual .visImg02 p img {
        width: 156px;
    }

    .topVisual .visTxt03 {
        top: 55px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .topVisual .visTxt03 span.visTxt03_1 img {
        width: 320px;
    }

    .topVisual .visTxt03.m_txt_1 {
        top: 100px;
    }

    .topVisual .visTxt03.m_txt_2 {
        top: 140px;
    }

    .topVisual .visTxt03.m_txt_3 {
        top: 170px;
    }

    .topVisual.vis02 [class*="visImg"] {
        top: 50px;
    }

    .topVisual.vis03 [class*="visImg"] {
        top: 50px;
    }

    .topVisual.vis02 .visImg01 p img {
        width: 239px;
    }

    .topVisual.vis02 .visImg02 p img {
        width: 239px;
    }

    .topVisual.vis02 .visTxt03 span.visTxt03_1 img {
        width: 253px;
    }

    .topVisual.vis03 .visImg01 p img {
        width: 172px;
    }

    .topVisual.vis03 .visImg02 p img {
        width: 172px;
    }

    .topVisual.vis03 .visTxt03 span.visTxt03_1 img {
        width: 290px;
    }

    .topVisualWrap .btnBrand {
        bottom: 60px;
    }

    .topVisualWrap .btnBrand > a {
        width: 120px;
        height: 40px;
        padding-top: 13px;
        font-size: 11px;
    }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1276px) {

    /*** main ***/
    /** top visual **/
    .topVisualWrap {
        width: 980px;
    }

    .mainVisual {
        height: 820px;
    }

    .topVisual .visImg01 {
        width: 490px;
    }

    .topVisual .visImg02 {
        width: 490px;
    }

    .topVisualWrap .btnBrand > a {
        width: 160px;
        height: 50px;
        padding-top: 17px;
        font-size: 14px;
    }

    .topVisual .visTxt01.txt2 {
        top: 360px;
    }

    .topVisual .visTxt02.txt2 {
        top: 470px;
    }
}
